node_modules/
dist/
.DS_Store
package-lock.json
yarn.lock
*.out.glsl
*.tgz
stats.html
packages/**/CHANGELOG.md
sites/**/CHANGELOG.md
examples/**/CHANGELOG.md
RELEASE_NOTES.md
coverage/
.idea/
.vscode/
test-results/
playwright-report/
blob-report/
playwright/.cache/
venv/
.vite/

