/* Error Bar */

.vitessceAppLoadError {
    margin-left: 1.25rem;
    border-radius: 0.4rem;
    width: 100%;
  }
  
  .vitessceAppLoadError pre {
    color: #333;
    margin: 0 0 1rem;
    overflow: auto;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--vit-error-bar-background);
  }