
  .pinLogin__key {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px; /* Fixed height for all keys */
    font-size: 1.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box; 
  }
  
  .pinLogin__key:hover {
    background-color: #e0e0e0;
  }
  
  .pinLogin__key:active {
    background-color: #d0d0d0;
  }
  
  .pinLogin__textError {
    border-color: red;
  }
  