.demoGridContainer {
display: grid;
padding: 2rem;
width: 100%;
grid-gap: 2rem;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.demoGridItem {
background-color: var(--ifm-footer-background-color);
min-height: 130px;
border-radius: 4px;
padding: 1rem;
}

.demoGridItemLink {
display: inline-block;
margin: 0 0 0.5rem 0;
font-weight: bold;
font-size: 22px;
}

.demoGridItemDescription {
margin: 0 0 0.5rem 0;
}

.demoDescription {
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 0;
}

.demoDescriptionSmall {
  display: none;
}
.demoGridContainerSmall {
  padding: 0;
  grid-gap: 0.5rem;
}
.demoGridContainerSmall .demoGridItem {
  background-color: var(--ifm-footer-background-color);
  min-height: 120px;
  border-radius: 4px;
  padding: 0.7rem;
}
.demoGridContainerSmall .demoGridItem  .demoGridItemLink {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 0.5rem 0;
}
.demoGridContainerSmall .demoGridItem .demoGridItemDescription {
  margin: 0 0 0.5rem 0;
  font-size: 13px;
}
.demoGridItem .demoGridItemPill {
  display: inline-block;
  padding: 0 6px;
  border-radius: 12px;
  font-size: 13px;
  margin-right: 0.3rem;
}
.demoGridItem .demoGridItemPill.spatial {
  background-color: rgb(189, 172, 58);
}
.demoGridItem .demoGridItemPill.imaging {
  background-color: rgb(189, 172, 58);
}
.demoGridItem .demoGridItemPill.csv {
  background-color: rgb(154, 154, 225);
}
.demoGridItem .demoGridItemPill.anndata {
  background-color: rgb(111, 193, 141);
}
.demoGridItem .demoGridItemPill.omengff {
  background-color: rgb(111, 193, 141);
}
.demoGridItem .demoGridItemPill.ometiff {
  background-color: rgb(111, 193, 141);
}
.demoGridItem .demoGridItemPill.zarr {
  background-color: rgb(206, 139, 202);
}
.demoGridItem .demoGridItemPill.scalability {
  background-color: rgb(234, 165, 90);
}
.demoGridItem .demoGridItemPill.multimodal {
  background-color: rgb(232, 122, 161);
}
.demoGridItem .demoGridItemPill.diagonal {
  background-color: rgb(100, 192, 222);
}
.demoGridItem .demoGridItemPill.mosaic {
  background-color: rgb(99, 186, 215);
}
.demoGridItem .demoGridItemPill._3d {
  background-color: rgb(161, 185, 84);
}
.demoGridItem .demoGridItemPill.spatialdata {
  background-color: rgb(99, 215, 177);
}